Welcome, <%= current_user.username %>

<h1>Your boxes:</h1>

<% @boxes.each_with_index do |box, i| %>
  <%= (i + 1).to_s + ": " %>
  <a href="/boxes/<%= box.id %>"><%= box.name %><br>
<% end %>

<p>
<a href="/boxes/new">Create a new box</a><br>
<a href="/boxes">Go Back</a><br>
<a href="/logout">Log out</a>
</p>