<h1>Here is your box:</h1>

<%= @boxes.name %><form action="/boxes/<%= @boxes.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="Delete Tweet">
<input type="submit" value="delete">
</form>
<p>Edit your box:</p>
<form action="/boxes/<%= @boxes.id %>" method="POST">
New Box Name: <input type="text" name="name">
<input type="submit" value="submit">
</form>

</p>
</p>