<h1>Here is your box:</h1>

<%= @boxes.name %>
<p>Edit your box:</p>
<p>
<form action="/boxes/<%= @boxes.id %>" method="POST">
Box Name: <input type="text" name="name">
<input type="submit" value="submit">
</form>
</p>