<h1>Add a new Item</h1>

<h3>Then select the box you want it to go in:</h3>

<form action="/items" method="POST">
<p>Item Name: <input type="text" name="item_name" id="user_id"></p>

<p>Box:
<% current_user.boxes.each do |box| %>
  <%= box.name %><input id="<%= box.name %>" type="checkbox" name="box_id" value="<%= box.id %>">
<% end %>
</p>

<input type="submit" value="submit">
</form>