<h1>Here is your Item</h1>

<%= @item.item_name %>

<form action="/items/<%= @item.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>

<p>Edit your item:</p>
<form action="/items/<%= @item.id %>" method="POST">
New Item Name: <input type="text" name="item_name">
<input type="submit" value="submit">
</form>

<br>
<a href="/boxes">Go back to Boxes list</a><br>
<a href="/items">Go back to Items list</a><br>
<a href="/logout">Log out</a>